.bigHeaderDiv {
  position: -webkit-sticky;
  position: sticky;
  top: 0;
  z-index: 5;
}

.header {
  position: absolute;
  z-index: 5;
  width: 100%;
  top: 0;
  left: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 15px 5vw;
}

.header .closeAll {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100vh;
  background-color: black;
  z-index: 2;
  opacity: .3;
  display: none;
}

.header .first {
  font-size: 13px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  grid-gap: 30px;
}

.header .first .mobileBrowse {
  font-weight: bold;
  cursor: pointer;
  display: none;
}

.header .first .logo {
  height: 30px;
  cursor: pointer;
}

.header .first .logo:hover {
  opacity: .9;
}

.header .first ul {
  grid-gap: 15px;
  list-style: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.header .first ul li {
  cursor: pointer;
  text-shadow: 1px 1px 10px white;
  font-weight: 600;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.header .first ul li:hover {
  opacity: 0.8;
}

.header .second {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  grid-gap: 20px;
  max-width: 45vw;
}

.header .second i {
  font-size: 20px;
  cursor: pointer;
}

.header .second .search {
  color: white;
  padding: 10px;
  border: 1px solid white;
  background-color: black;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.header .second .search input {
  color: white;
  width: 0;
  border: none;
  opacity: 0;
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
  background-color: black;
}

.header .second .search input:focus {
  margin-left: 5px;
  outline: none;
  width: 100px;
  opacity: 1;
  padding: 5px;
}

.header .second .notifications {
  position: relative;
}

.header .second .notifications .openNotification {
  z-index: 3;
  position: absolute;
  left: -380px;
  top: 40px;
  background-color: black;
  width: 400px;
  min-height: 30px;
  max-height: 200px;
  overflow-x: auto;
  padding: 10px;
  color: white;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  grid-gap: 20px;
}

.header .second .notifications .openNotification > div {
  cursor: pointer;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 80px;
  grid-gap: 30px;
}

.header .second .notifications .openNotification > div:hover {
  opacity: .8;
  background-color: rgba(128, 128, 128, 0.2);
}

.header .second .notifications .openNotification > div img {
  height: 80px;
}

.header .second .notifications .closedNotification {
  display: none;
}

@media only screen and (max-width: 700px) {
  .header .first {
    position: relative;
    grid-gap: 10px;
  }
  .header .first .mobileBrowse {
    display: block;
  }
  .header .first ul {
    position: absolute;
    top: 50px;
    left: 10vw;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    text-align: center;
    padding: 30px 0;
    width: 200px;
    color: white;
    text-shadow: 0px 0px 0px transparent;
    background-color: black;
    display: none;
    grid-gap: 0;
    z-index: 3;
  }
  .header .first ul li {
    text-shadow: none;
    width: 100%;
    padding: 10px 0;
  }
  .header .first ul li:hover {
    opacity: .8;
    background-color: red;
  }
}

@media only screen and (max-width: 450px) {
  .header {
    padding: 15px 2vw;
  }
  .header .first .logo {
    height: 25px;
  }
  .header .second {
    grid-gap: 10px;
  }
  .header .second .search {
    padding: 5px;
  }
  .header .second .search input:focus {
    position: absolute;
    z-index: 3;
    left: 50%;
    -webkit-transform: translate(-50%, 0);
            transform: translate(-50%, 0);
    padding: 5px;
  }
  .header .second .notifications .openNotification {
    max-width: 90vw;
    right: 0px;
    left: unset;
  }
  .header .second .notifications .openNotification > div img {
    max-width: 30vw;
    height: unset;
  }
}
/*# sourceMappingURL=headerStyle.css.map */