.bigHeaderDiv{
    position: sticky;
    top: 0;
    z-index: 5;
}
.header{
    position: absolute;
    z-index: 5;
    width: 100%;
    top: 0;
    left: 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 15px 5vw;
    .closeAll{
        position: absolute;
        left: 0;
        top: 0;
        width: 100%;
        height: 100vh;
        background-color: black;
        z-index: 2;
        opacity: .3;
        display: none;
    }
    .first{
        font-size: 13px;
        display: flex;
        align-items: center;
        grid-gap: 30px;
        .mobileBrowse{
            // font-size: 16px;
            font-weight: bold;
            cursor: pointer;
            display: none;
        }
        .logo{
            height: 30px;
            cursor: pointer;
            &:hover{
                opacity: .9;
            }
        }
        ul{
            grid-gap: 15px;
            list-style: none;
            display: flex;
            li{
                cursor: pointer;
                text-shadow: 1px 1px 10px white;
                font-weight: 600;
                font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
                &:hover{
                    opacity: 0.8;
                }
            }
        }
    }
    .second{
        display: flex;
        align-items: center;    
        grid-gap: 20px;   
        max-width: 45vw;     
        i{
            font-size: 20px;
            cursor: pointer;
        }
        .search{
            color: white;
            padding: 10px;
            border: 1px solid white;
            background-color: black;
            display: flex;
            align-items: center;
            justify-content: center;

            input{
                color: white;
                width: 0;
                border: none;
                opacity: 0;
                transition: all 0.5s;
                background-color: black;
                &:focus{
                    margin-left: 5px;
                    outline: none;
                    width: 100px;
                    opacity: 1;
                    padding: 5px;
                }
            }
        }
        .notifications{
            position: relative;
            .openNotification{
                z-index: 3;
                position: absolute;
                left: -380px;
                top: 40px;
                background-color: black;
                width: 400px;
                min-height: 30px;
                max-height: 200px;
                overflow-x: auto;
                padding: 10px;
                color: white;
                display: flex;
                flex-direction: column;
                grid-gap: 20px;
                &>div{
                    cursor: pointer;
                    display: flex;
                    align-items: center;
                    height: 80px;
                    grid-gap: 30px;
                    &:hover{
                        opacity: .8;
                        background-color: rgba(128, 128, 128, 0.2);
                    }
                    img{
                        height: 80px;
                    }
                }
            }
            .closedNotification{
                display: none;
            }
        }
    }
}
@media only screen and (max-width: 700px) {
    .header{
        .first{
            position: relative;
            grid-gap: 10px;
            .mobileBrowse{
                display: block;
            }
            ul{
                position: absolute;
                top: 50px;
                left: 10vw;
                flex-direction: column;
                text-align: center;
                padding: 30px 0;
                width: 200px;
                color: white;
                text-shadow: 0px 0px 0px transparent;
                background-color: black;
                display: none;
                grid-gap: 0;
                z-index: 3;
                li{
                    text-shadow: none;
                    width: 100%;
                    padding: 10px 0;
                    &:hover{
                        opacity: .8;
                        background-color: red;
                    }
                }
            }
        }
    }
  }
  @media only screen and (max-width: 450px) {
    .header{
        padding: 15px 2vw;
        .first{
            .logo{
                height: 25px;
            }
        }
        .second{
            grid-gap: 10px;
            .search{
                padding: 5px;
                input:focus{
                    position: absolute;
                    z-index: 3;
                    left: 50%;
                    transform: translate(-50%, 0);
                    padding: 5px;
                }
            }
            .notifications{
                .openNotification{
                    max-width: 90vw;
                    right: 0px;
                    left: unset;
                    &>div{
                        img{
                            max-width: 30vw;
                            height: unset;
                        }
                    }
                }
            }
        }
    }
  }